---
name: Linux

on:
  workflow_dispatch:
  push:
    paths:
      - Dockerfile
      - .github/workflows/linux.yml
  schedule:
    - cron: 45 23 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        code_name: [noble, jammy, focal, bionic, xenial, forky, trixie, bookworm, bullseye, buster]

    steps:
      - uses: actions/checkout@main
      - name: set meta info
        run: |
          echo "remote_sha=$(git ls-remote ${{ secrets.DOTFILES_REPO }} HEAD | awk '{ print $1}')" >> "$GITHUB_ENV"
          echo "date=$(date +'%Y-%m-%d %H:%M:%S')" >> "$GITHUB_ENV"

      - name: check if we need to trigger a test
        run: |
          if [[ -z "${{ env.remote_sha }}" ]]; then
          echo "remote_sha is empty, skip"
          echo "remote_ref=skip" >> "$GITHUB_ENV"
          elif ! wget --spider "https://github.com/${{github.repository}}/releases/download/version/${{ matrix.code_name }}.json" > /dev/null 2>&1; then
          echo "branch ${{ matrix.code_name }} not found, build"
          else
          last_sha=$(curl -sSLf -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/json" "https://github.com/${{github.repository}}/releases/download/version/${{ matrix.code_name }}.json" | jq -r '.remote_sha')
          echo "last_sha: $last_sha"
          echo "remote_sha: ${{ env.remote_sha }}"
          if [[ "$last_sha" != "${{ env.remote_sha }}" ]]; then
          echo "remote_sha changed: build"
          else
          echo "remote_sha is not changed: skip"
          echo "remote_ref=skip" >> "$GITHUB_ENV"
          fi
          fi

      - name: Set up QEMU
        if: env.remote_ref != 'skip'
        uses: docker/setup-qemu-action@master

      - name: Set up Docker Buildx
        if: env.remote_ref != 'skip'
        uses: docker/setup-buildx-action@master

      - name: Login to GHCR
        if: env.remote_ref != 'skip'
        uses: docker/login-action@master
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to ACR
        if: env.remote_ref != 'skip'
        uses: docker/login-action@master
        with:
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PAT }}
          registry: ${{ secrets.ACR_REGISTRY }}

      # - name: Set test platforms
      #   id: platforms
      #   run: |
      #     if [ "${{ matrix.test_arm64 }}" = "true" ]; then
      #     echo "test_platforms=linux/amd64,linux/arm64" >> "$GITHUB_ENV"
      #     else
      #     echo "test_platforms=linux/amd64" >> "$GITHUB_ENV"
      #     fi

      - name: test dotfiles
        id: build
        if: env.remote_ref != 'skip'
        timeout-minutes: 40
        uses: docker/build-push-action@master
        with:
          context: .
          file: Dockerfile
          platforms: ${{ env.test_platforms }}
          push: true
          provenance: false
          build-args: |
            IMAGE_NAME=ghcr.io/${{ github.repository }}
            CODE_NAME=${{ matrix.code_name }}
            REF=${{ env.remote_ref }}
          secrets: |
            "DOTFILES_REPO=${{ secrets.DOTFILES_REPO }}"
            "gh_token=${{ secrets.GITHUB_TOKEN }}"
            "repository=${{ github.repository }}"
          tags: |
            ghcr.io/${{ github.repository }}:${{ matrix.code_name }}
            ${{ secrets.ACR_REGISTRY }}/${{ secrets.ACR_NAMESPACE }}/${{ secrets.ACR_IMAGE_NAME }}:${{ matrix.code_name }}

      - name: generate version.json
        if: env.remote_ref != 'skip' && steps.build.outcome == 'success'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |-
          cat <<EOF > ./${{ matrix.code_name }}.json
          {
            "os": "linux",
            "code_name": "${{ matrix.code_name }}",
            "date": "${{ env.date }}",
            "remote_sha": "${{ env.remote_sha }}"
          }
          EOF
          cat ./${{ matrix.code_name }}.json
          gh release create "version" --title "Version" --repo "${{github.repository}}" || true
          gh release upload "version" ./${{ matrix.code_name }}.json --clobber --repo "${{github.repository}}"
