---
name: macOS

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/macos.yml
  schedule:
    - cron: 45 23 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        image: [macos-14, macos-15, macos-15-intel, macos-26]
    runs-on: ${{ matrix.image }}
    name: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@main
      - name: set meta info
        run: |
          echo "remote_sha=$(git ls-remote ${{ secrets.DOTFILES_REPO }} HEAD | awk '{ print $1}')" >> $GITHUB_ENV
          echo "date=$(date +'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV

      - name: check if we need to trigger a test
        run: |
          if ! wget --spider "https://github.com/${{github.repository}}/releases/download/version/${{ matrix.image }}.json" > /dev/null 2>&1; then
          echo "${{ matrix.image }}.json not found: build"
          else
          last_sha=$(curl -sSLf -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/json" "https://github.com/${{github.repository}}/releases/download/version/${{ matrix.image }}.json" | jq -r '.remote_sha')
          echo "last_sha: $last_sha"
          echo "remote_sha: ${{ env.remote_sha }}"
          if [ "$last_sha" != "${{ env.remote_sha }}" ]; then
          echo "remote_sha changed: build"
          else
          echo "remote_sha not changed. skip"
          echo "remote_ref=skip" >> "$GITHUB_ENV"
          fi
          fi

      - name: Install chezmoi
        if: env.remote_ref != 'skip'
        run: |
          sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/.local/bin

      # # Homebrew has dropped support for macos-11, pin to the last support commit
      # - name: Recover homebrew support on macos-11
      #   if: matrix.image == 'macos-11' && env.remote_ref != 'skip'
      #   run: |
      #     rm -rf "$(brew --repository)/Library/Taps/homebrew/homebrew-core"
      #     mkdir -p "$(brew --repository)/Library/Taps/homebrew/homebrew-core"
      #     cd "$(brew --repository)/Library/Taps/homebrew/homebrew-core"
      #     git init
      #     git remote add origin https://github.com/Homebrew/homebrew-core.git
      #     git fetch --depth 1 origin db654ea95a8289f0c0f22a68ccf87e28be7f4261
      #     git checkout FETCH_HEAD

      # BUG: on macos, some files are owned by root
      # This may cause chezmoi to fail to apply
      - name: Fix permission issue
        if: env.remote_ref != 'skip'
        run: |
          sudo chown -R $USER $HOME
          ls -la $HOME

      - name: Test on ${{ matrix.image }}
        if: env.remote_ref != 'skip'
        id: build
        env:
          HUGGINGFACE_BUILDING: "true"
          DEBIAN_FRONTEND: noninteractive
          HOMEBREW_NO_INSTALL_FROM_API: 1
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $HOME/.local/bin/chezmoi init "${{ secrets.DOTFILES_REPO }}" --depth 1 --no-pager --no-tty
          $HOME/.local/bin/chezmoi apply --init --force --no-pager --no-tty
      - name: Integrity check on ${{ matrix.image }}
        if: env.remote_ref != 'skip' && steps.build.outcome == 'success'
        id: integrity
        run: |
          $HOME/.local/bin/custom/chezmoi-integrity

      - name: generate version.json
        if: env.remote_ref != 'skip' && steps.build.outcome == 'success' && steps.integrity.outcome == 'success'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |-
          cat <<EOF > ./${{ matrix.image }}.json
          {
            "os": "${{ matrix.image }}",
            "date": "${{ env.date }}",
            "remote_sha": "${{ env.remote_sha }}"
          }
          EOF
          cat ./${{ matrix.image }}.json
          gh release create "version" --title "Version" --repo "${{github.repository}}" || true
          gh release upload "version" ./${{ matrix.image }}.json --clobber --repo "${{github.repository}}"
